/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 10px;
	background: linear-gradient(transparent,#e66900);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, hsl(27, 90%, 62%));
}

.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;   
}

body {
	overflow-x: hidden;
}
.fourth-line-check {
	transform: rotate(-45deg) translate(-1px, 0);
}
.first-line-check {
	transform: rotate(45deg) translate(-1px, -1px);
}
.first-line {
	transform-origin: 0 0;
}
.fourth-line {
	transform-origin: 0 100%;
}